$dark100: rgb(2, 22, 32);
$dark75: rgb(2, 48, 71);
$dark50: rgb(33, 158, 188);
$dark25: rgb(142, 202, 230);
$bg: rgb(204, 234, 246);
$darkorang: rgb(251, 133, 0);
$orang: rgb(255, 195, 44);
$white: rgb(255, 255, 255);
$white90: rgba(255, 255, 255, 0.9);

$shadow20: 2px 4px 4px 0px rgba(0, 47, 83, 0.2);
$shadow50: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
// $shadowinset: 2px 2px 8px 0px rgba(0, 0, 0, 0.45) inset;
// $shadowinputactive: 0 8px 10px 5px rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.3);
// $shadowinput: 0px 6px 8px 0px rgb(103, 82, 0);

$bold: 700;
